# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Logs and local files
*.log
*.sqlite3
*.db

# Virtual environments
env/
venv/
.venv/

# VS Code config
.vscode/

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# GitHub Codespaces
.devcontainer/
codespace.json